media/*.flac
media/*.m4a
media/*.m4b
media/*.mp3
media/*.aac
media/*.ogg
media/*.wav
media/*.opus
media/*.wma
media/*.WMA
media/*.webm
media/*.mp4
media/*.m4v
media/*.mkv
media/*.m4a
media/*.flac
media/*.alac
media/*.wav
__pycache__/
*.pyc
**/*.pyc
media/.cache/
media/route_log.txt
*.db
Screens/

# IDEs
.idea/
.vscode/

# Virtual environments
venv/
env/
.venv/

# Env vars
.env

# Packaging
build/
dist/
*.spec
